

<p *ngIf="!data"><em>Loading...</em></p>

<div class="row">
  <div class="col-md-2 list-container hidden" *ngIf="data">
    <div class="item-list">
      <div class="row">
        <div class="col-md-3 text-center">
          <label>Status</label>
        </div>
        <div class="col-md-6 text-center">
          <label>Name</label>
        </div>
        <div class="col-md-3 text-center">
          <label>Author</label>
        </div>
      </div>

      <div class="row clickable_row" *ngFor="let d of data" (click)="editItem(d)">
        <div class="col-md-3">
          {{ d.status }}
        </div>
        <div class="col-md-6">
          {{ d.name }}
        </div>
        <div class="col-md-3">
          {{ d.author }}
        </div>
      </div>
      
    </div>
    <hr />
    <div *ngIf="publishedItem">
      <div class="inline-flex-row">
        <h6>{{ publishedItem!.name }}</h6>
        <button class="btn btn-content" *ngIf="showCode" (click)="showCode=!showCode">Html</button>
        <button class="btn btn-content" *ngIf="!showCode" (click)="showCode=!showCode">Code</button>

      </div>
      
      <div *ngIf="!showCode" [innerHtml]="transform(publishedItem.content)"></div>
      <div *ngIf="showCode" class="code-container">{{publishedItem.content}}</div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="container" *ngIf="item">
      <div class="content">
        <table class="item-title">

          <tr>
            <td>
              Name:
            </td>
            <td><input type="text" [(ngModel)]="item.name" class="form-control" /></td>
            <td>
            </td>
          </tr>

        </table>

        <form [formGroup]="form">
          <div class="editor">
            <div class="inline-flex-row">
              <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
              </ngx-editor-menu>
              <button class="btn btn-content btn-editor" *ngIf="showItemCode" (click)="showItemCode=!showItemCode">Html</button>
              <button class="btn btn-content btn-editor" *ngIf="!showItemCode" (click)="showItemCode=!showItemCode">Code</button>
              <button class="btn btn-content text-primary btn-editor text-bold" (click)="save(item)" *ngIf="item.status==='Draft'" [disabled]="item!.name.length===0">Save</button>

              <button class="btn btn-content text-success btn-editor text-bold" (click)="publish(item)" *ngIf="item.status==='Draft'" [disabled]="item!.name.length===0">Publish</button>

              <button class="btn btn-content text-danger btn-editor text-bold" (click)="reset(item)" *ngIf="item.status==='Draft' && item.id>0">Reset</button>


              <button class="btn btn-content text-primary btn-editor text-bold" (click)="openDialog()" *ngIf="item.status==='Draft'">Manage Files</button>

            </div>

            <ngx-editor *ngIf="!showItemCode"
                        [editor]="editor"
                        formControlName="editorContent"
                        [(ngModel)]="item.content"
                        (ngModelChange)="editorChange(item)">
            </ngx-editor>
          </div>
          <div *ngIf="showItemCode">
            <textarea rows="400"
                      formControlName="htmlContent"
                      class="form-control"
                      [(ngModel)]="itemHtml"
                      (change)="codeChange($event)">{{itemHtml}}</textarea>
          </div>

        </form>


      </div>
    </div>
  </div>
  <div class="col-md-3 preview-container" *ngIf="item && item.content!==undefined">
    <div [innerHtml]="transform(item.content)"></div>
  </div>
</div>




