

<p *ngIf="!data"><em>Loading...</em></p>

<div class="row">
  <div class="col-md-2 list-container" *ngIf="data">
    <div class="item-list">
      <div class="row">
        <div class="col-md-3 text-center">
          <label>Status</label>
        </div>
        <div class="col-md-6 text-center">
          <label>Name</label>
        </div>
        <div class="col-md-3 text-center">
          <label>Author</label>
        </div>
      </div>

      <div class="row clickable_row" *ngFor="let d of data" (click)="editItem(d)">
        <div class="col-md-3">
          {{ d.status }}
        </div>
        <div class="col-md-6">
          {{ d.name }}
        </div>
        <div class="col-md-3">
          {{ d.author }}
        </div>
      </div>
      
    </div>
    <hr />
    <div *ngIf="publishedItem">
      <div class="published-item-name">
        <h6>{{ publishedItem!.name }}</h6>
        <button class="btn btn-content" *ngIf="showCode" (click)="showCode=!showCode">Html</button>
        <button class="btn btn-content" *ngIf="!showCode" (click)="showCode=!showCode">Code</button>

      </div>
      
      <div *ngIf="!showCode" [innerHtml]="transform(publishedItem.content)"></div>
      <div *ngIf="showCode">{{publishedItem.content}}</div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="container" *ngIf="item">
      <div class="content">
        <table class="item-title">

          <tr>
            <td>
              Name:
            </td>
            <td><input type="text" [(ngModel)]="item.name" class="form-control" /></td>
            <td>
              <button class="btn btn-content" *ngIf="showItemCode" (click)="showItemCode=!showItemCode">Html</button>
              <button class="btn btn-content" *ngIf="!showItemCode" (click)="showItemCode=!showItemCode">Code</button>

            </td>
          </tr>

        </table>
        
        <form [formGroup]="form">
          <div class="editor" *ngIf="!showItemCode">
            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
            </ngx-editor-menu>
            <ngx-editor [editor]="editor"
                        formControlName="editorContent"
                        [(ngModel)]="item.content"
                        (ngModelChange)="editorChange(item)">
            </ngx-editor>
          </div>
          <div *ngIf="showItemCode">
            <textarea rows="400"
                      formControlName="htmlContent"
                      class="form-control"
                      [(ngModel)]="itemHtml"
                      (change)="codeChange($event)">{{itemHtml}}</textarea>
          </div>
          <button class="text-primary" (click)="save(item)" *ngIf="item.status==='Draft'" [disabled]="item!.name.length===0">Save</button>

          <button class="text-success" (click)="publish(item)" *ngIf="item.status==='Draft'" [disabled]="item!.name.length===0">Publish</button>

          <button class="text-danger float-right" (click)="reset(item)" *ngIf="item.status==='Draft' && item.id>0">Reset</button>

        </form>


      </div>
    </div>
  </div>
  <div class="col-md-3 preview-container" *ngIf="item && item.content!==undefined">
    <div [innerHtml]="transform(item.content)"></div>
  </div>
</div>




