.file-upload-container {
    min-height: 250px;
}

.dialog-action {
    float:right;
}

.files-container {
    margin-top: 1em;
    margin-bottom: 1em;
}
label {
    padding-right: 1em;
}
a {
  text-decoration: underline!important;
  text-decoration-color: darkgreen!important;
  cursor:pointer;
}
