.file-upload-container {
    min-height: 250px;
}

.dialog-action {
    float:right;
}

.files-container {
    margin-top: 1em;
    margin-bottom: 1em;
    max-height:500px;
    scroll-behavior:auto;
}
label {
    padding-right: 1em;
}
a {
  text-decoration: underline !important;
  text-decoration-color: darkgreen !important;
  cursor: pointer;
  overflow-wrap: break-word;
}
.btn-close {
    margin-left: 170px;
    margin-top: -25px;
}
