<h6 mat-dialog-title>Manager Files</h6>
<div mat-dialog-content class="file-upload-container" *ngIf="filesToUpload.length > 0">
  
  <div class="files-container">
    <div *ngFor="let file of filesToUpload">
      <div class="row" *ngIf="file.url.length===0">
        <div class="col-md-10">
          {{ file.file.name }}
        </div>
        <div class="col-md-2">
          <button mat-button class="text-danger" (click)="removeFile(file)">&#10006;</button>
        </div>
      </div>
      

      <div class="row" *ngIf="file.url.length > 0">
        <div class="col-md-10">
          <a (click)="openUrl(file.url)">{{file.name}}</a>

        </div>
        <div class="col-md-2">
          <button mat-button cdkCopyToClipboard="{{file.url}}"><span title="Copy {{file.url}}">📋</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <input #fileInput type="file" accept="{{ allowedFileExtensions }}" multiple (change)="getFileInput($event.target)" />

  <!--<button mat-raised-button *ngIf="filesToUpload.length > 0" (click)="uploadFiles()">Upload</button>-->
  <div class="btn-close">
    <button mat-raised-button (click)="onNoClick()">Close</button>
    <!--<button mat-raised-button [mat-dialog-close]="data.fileName" cdkFocusInitial>Ok</button>-->

  </div>

</div>
